
  <% if message.user.nick == @nick %>
    <div class="row justify-content-end mb-2">
      <div class="col-auto">
        <div class="bg-primary text-white rounded py-2 px-3">
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  <% else %>
    <div class="row justify-content-start mb-2">
      <div class="col-auto">
        <div class="bg-light rounded py-2 px-3">
          <p class="mb-0"><small><%= message.user.nick %></small></p>
          <p><%= message.content %></p>
        </div>
      </div>
    </div>
  <% end %>

